.container-right {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    width: 50%;
    background-color: #BA0C25;
    display: flex;
    flex-direction: inherit; /* Change flex-direction to column */
    align-items: center; /* Horizontally center items */
    justify-content: space-evenly; /* Align items to the bottom */
    height: 100vh;
    position: fixed; /* Use fixed positioning */
    right: 0; /* Position from the right edge */
    top: 0; /* Position from the top */
    box-sizing: border-box;
}

.image {
    display: block; /* Ensure the image is a block element */
    margin: 0; /* Reset margin */
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.signup-form {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: inherit;
    position: relative;
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

    .container-right h1 {
        margin-bottom: 20px;
    }

.input-container {
    margin-bottom: 10px;
    margin-top:10px;
}

/* Style for aligning validation error text to the left */
.signup-form .validatorMessage {
    text-align: left !important;
    margin-left: 0;
    display:flex !important;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background: #BA0C25;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 5px;
}

.form-links {
    margin-top: 20px;
}

.signup-link {
    color: #BA0C25;
    margin-right: 1px;
    margin-left: 50px;
    text-decoration: none;
    transition: color 0.3s;
    border: 1px solid #BA0C25;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 50px;
}

    .signup-link:hover {
        background-color: #BA0C25;
        color: white;
    }

p {
    font-family: Verdana;
    font-size: 12px;
    color: #BA0C25;
}